# Provenance: grounded=modeled-from-docs
# This OpenAPI 3.0 document was MODELED from Ozow's public developer
# documentation (hub.ozow.com, community integrations, and the Ozow
# integrations guide). Ozow does not publish a downloadable first-party
# OpenAPI/Swagger file, so operations, fields, hosts, and the SHA512
# HashCheck flow below were reconstructed from documented request/response
# shapes. Verify field-by-field against the live docs before production use.
# Sources:
#   https://hub.ozow.com/docs
#   https://ozow.com/integrations
#   https://github.com/wdtheprovider/ozpay/blob/master/payment.php
#   https://gist.github.com/timm-oh/65ea658accd8e923e90a5ccc99b70411
#   https://api.i-pay.co.za/guide/payment
openapi: 3.0.3
info:
  title: Ozow API
  description: >-
    Ozow (formerly i-Pay) is a South African instant EFT / "Pay by Bank"
    payment gateway. Merchants create a payment request server-side, redirect
    the customer to the Ozow secure bank-selection flow, and receive a
    server-to-server notification plus browser redirect on completion. All
    write requests are authenticated with an ApiKey header and a SHA512
    HashCheck computed by concatenating the request fields in documented order,
    appending the merchant PrivateKey, lower-casing, and hashing. Transactions
    are ZAR-only (CountryCode ZA, CurrencyCode ZAR).
  termsOfService: https://ozow.com/terms-and-conditions
  contact:
    name: Ozow Support
    email: support@ozow.com
    url: https://hub.ozow.com/docs
  version: '1.0'
servers:
  - url: https://api.ozow.com
    description: Production
  - url: https://stagingapi.ozow.com
    description: Staging / sandbox (also driven by the IsTest flag)
tags:
  - name: Payments
    description: Create and initiate instant EFT payment requests.
  - name: Transactions
    description: Query transaction status by Ozow reference or merchant reference.
  - name: Banks
    description: Retrieve the list of supported banks for the payment flow.
  - name: Refunds
    description: Refund previously completed EFT payments from the merchant float.
paths:
  /postpaymentrequest:
    post:
      operationId: postPaymentRequest
      tags:
        - Payments
      summary: Create a payment request
      description: >-
        Creates an instant EFT payment request and returns a redirect URL to
        the Ozow secure bank-selection page. The HashCheck is computed over
        SiteCode, CountryCode, CurrencyCode, Amount, TransactionReference,
        BankReference, Cancel/Error/Success/Notify URLs and IsTest, with the
        merchant PrivateKey appended.
      security:
        - ApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PaymentRequest'
      responses:
        '200':
          description: Payment request created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
        '400':
          description: Invalid request or hash mismatch.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /GetTransaction:
    get:
      operationId: getTransaction
      tags:
        - Transactions
      summary: Get transaction by Ozow transaction id
      description: Queries a transaction using the Ozow transaction id.
      security:
        - ApiKey: []
      parameters:
        - name: siteCode
          in: query
          required: true
          schema:
            type: string
          description: Merchant SiteCode.
        - name: transactionId
          in: query
          required: true
          schema:
            type: string
          description: Ozow transaction id (GUID).
      responses:
        '200':
          description: Array of matching transaction objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction'
  /GetTransactionByReference:
    get:
      operationId: getTransactionByReference
      tags:
        - Transactions
      summary: Get transaction by merchant reference
      description: Queries a transaction using the merchant TransactionReference.
      security:
        - ApiKey: []
      parameters:
        - name: siteCode
          in: query
          required: true
          schema:
            type: string
          description: Merchant SiteCode.
        - name: transactionReference
          in: query
          required: true
          schema:
            type: string
          description: Merchant-supplied transaction reference.
      responses:
        '200':
          description: Array of matching transaction objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction'
  /GetBanks:
    get:
      operationId: getBanks
      tags:
        - Banks
      summary: Get supported bank list
      description: >-
        Returns the list of banks Ozow supports for the given site and country,
        for merchants who render their own bank-selection UI.
      security:
        - ApiKey: []
      parameters:
        - name: siteCode
          in: query
          required: true
          schema:
            type: string
        - name: countryCode
          in: query
          required: true
          schema:
            type: string
            default: ZA
      responses:
        '200':
          description: List of supported banks.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Bank'
  /PostRefundRequest:
    post:
      operationId: postRefundRequest
      tags:
        - Refunds
      summary: Request a refund
      description: >-
        Instructs Ozow to refund a previously completed EFT payment from the
        merchant Ozow float. Refund requests are authenticated with a bearer
        token obtained from the Ozow identity/token service (not the ApiKey
        header) and carry their own HashCheck. Ozow notifies the merchant
        NotifyUrl when the refund completes or fails.
      security:
        - BearerToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundRequest'
      responses:
        '200':
          description: Refund accepted for processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundResponse'
        '400':
          description: Invalid request or hash mismatch.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: ApiKey
      description: >-
        Merchant API key issued in the Ozow merchant dashboard
        (dash.ozow.com). Sent alongside a SHA512 HashCheck field computed with
        the merchant PrivateKey.
    BearerToken:
      type: http
      scheme: bearer
      description: >-
        OAuth-style bearer token obtained from the Ozow token endpoint, used by
        the Refunds and Payouts APIs. Tokens are reusable until expiry.
  schemas:
    PaymentRequest:
      type: object
      required:
        - SiteCode
        - CountryCode
        - CurrencyCode
        - Amount
        - TransactionReference
        - BankReference
        - HashCheck
      properties:
        SiteCode:
          type: string
          description: Merchant site code from the Ozow dashboard.
        CountryCode:
          type: string
          enum: [ZA]
          description: Two-letter country code. Only ZA (South Africa) is supported.
        CurrencyCode:
          type: string
          enum: [ZAR]
          description: Three-letter currency code. Only ZAR is supported.
        Amount:
          type: number
          format: double
          description: Transaction amount in ZAR (e.g. 25.01).
        TransactionReference:
          type: string
          description: Unique merchant reference used to match the transaction.
        BankReference:
          type: string
          description: Reference shown on the customer bank statement (max ~20 chars).
        Optional1:
          type: string
        Optional2:
          type: string
        Optional3:
          type: string
        Optional4:
          type: string
        Optional5:
          type: string
        Customer:
          type: string
          description: Optional customer name/identifier.
        CancelUrl:
          type: string
          format: uri
        ErrorUrl:
          type: string
          format: uri
        SuccessUrl:
          type: string
          format: uri
        NotifyUrl:
          type: string
          format: uri
          description: Server-to-server notification (POST) callback URL.
        IsTest:
          type: boolean
          description: When true, routes the request through the Ozow test flow.
        HashCheck:
          type: string
          description: >-
            SHA512 hex hash of the concatenated request fields (in documented
            order) with the merchant PrivateKey appended, lower-cased.
    PaymentResponse:
      type: object
      properties:
        paymentRequestId:
          type: string
          description: Ozow-generated payment request id (GUID).
        url:
          type: string
          format: uri
          description: Redirect URL to the Ozow secure bank-selection page.
        errorMessage:
          type: string
          nullable: true
    Transaction:
      type: object
      properties:
        transactionId:
          type: string
        merchantCode:
          type: string
        siteCode:
          type: string
        countryCode:
          type: string
        currencyCode:
          type: string
        amount:
          type: number
          format: double
        transactionReference:
          type: string
        bankReference:
          type: string
        status:
          type: string
          description: e.g. Complete, Cancelled, Error, PendingInvestigation, Abandoned.
        statusMessage:
          type: string
        isTest:
          type: boolean
        createdDate:
          type: string
          format: date-time
        paymentDate:
          type: string
          format: date-time
          nullable: true
        hash:
          type: string
    Bank:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        abbreviation:
          type: string
        countryCode:
          type: string
    RefundRequest:
      type: object
      required:
        - SiteCode
        - TransactionId
        - Amount
        - RefundReference
        - HashCheck
      properties:
        SiteCode:
          type: string
        TransactionId:
          type: string
          description: Ozow transaction id of the original completed payment.
        Amount:
          type: number
          format: double
        RefundReference:
          type: string
        NotifyUrl:
          type: string
          format: uri
        IsTest:
          type: boolean
        HashCheck:
          type: string
    RefundResponse:
      type: object
      properties:
        refundId:
          type: string
        status:
          type: string
        errorMessage:
          type: string
          nullable: true
    ErrorResponse:
      type: object
      properties:
        errorMessage:
          type: string
        errorCode:
          type: string
